*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.shoppingCartItemImage {
  width: 380px;
  height: auto;
}

.header {
  padding: 1rem;
  z-index: 10;
  position: fixed;
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.header .navButtons {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
}
.header .logoImage {
  width: 150px;
}

.cartImage {
  max-width: 50px;
}
.cartImage:hover {
  cursor: pointer;
}

.cartLabel {
  display: flex;
  align-items: center;
  text-decoration: none;
  min-width: 60px;
  justify-content: space-between;
}

.linkToCart {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.homeSection {
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundImg1 {
  padding-left: 5rem;
  justify-content: left;
  background-image: url(/src/WebsiteImages/initial.webp);
}

.backgroundImg2 {
  justify-content: left;
  text-align: left;
  background-image: url(/src/WebsiteImages/mountain.jpg);
}
.backgroundImg2 h2 {
  line-height: 3, 5rem;
}

.backgroundImg3 {
  color: black;
  background-image: url(/src/WebsiteImages/road.png);
}

.innerDivWrapper {
  padding-left: 5rem;
}

.homePage {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* CSS */
button {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  cursor: pointer;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  padding: 0.1rem 0.6rem;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.bigButton {
  font-size: 1.5rem;
  padding-bottom: 4px;
  margin-top: 2rem;
}

.catalogueDiv {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.catalogueDiv .picturesDiv {
  display: flex;
  flex-direction: row;
}
.catalogueDiv .picturesDiv .side1Div {
  background-image: url(/src/WebsiteImages/roadside.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
}
.catalogueDiv .picturesDiv .side2Div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
  background-image: url(/src/WebsiteImages/mountainside.jpg);
}
.catalogueDiv .picturesDiv h2 {
  text-align: center;
  color: white;
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.catalogueDiv .allItems {
  padding-top: 2rem;
  width: 100vw;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2rem;
}
.catalogueDiv .item {
  max-width: 400px;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.catalogueDiv .item h3 {
  margin: 1rem 0;
}
.catalogueDiv .item p {
  margin-bottom: 1rem;
}
.catalogueDiv .item .itemImage {
  max-width: 320px;
}
.catalogueDiv .bikeChoice {
  display: flex;
  text-align: center;
}
.catalogueDiv .bikeChoice h2 {
  margin: 1rem 0;
}
.catalogueDiv .bikeChoice .brandChoice {
  width: 50vw;
}
.catalogueDiv .bikeChoice .brandChoice .checkBoxWrapper {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  justify-content: center;
}
.catalogueDiv .bikeChoice .terrainChoice {
  width: 50vw;
}
.catalogueDiv .bikeChoice .terrainChoice .radioButtonWrapper {
  display: flex;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.catalogueDiv .selectionLogo {
  max-width: 100px;
  max-height: 50px;
  border-radius: 5px;
}
.catalogueDiv .active {
  border-bottom: 2px solid black;
}
.catalogueDiv .labelContainer input {
  display: none;
}
.catalogueDiv .thingsDiv {
  text-align: center;
}
.catalogueDiv .thingsDiv h2 {
  margin: 1rem 0;
}

.terrain {
  max-height: 50px;
}

.selectedItems {
  width: 100vw;
  background-color: rgb(240, 240, 240);
  position: relative;
  top: calc(50px + 2rem);
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  row-gap: 1rem;
}
.selectedItems .shoppingCartItemCard {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  background-color: white;
  justify-content: space-between;
}
.selectedItems .shoppingCartItemCard .shoppingCartItemTextDiv {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItemNumber {
  width: 2rem;
}

.checkoutButton {
  z-index: 20;
  position: relative;
  right: -50%;
  transform: translate(-50%);
  max-width: 150px;
}
.checkoutButton:hover {
  transform: translateY(-2px) translate(-50%);
}

.amountWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100vh;
  padding-bottom: 2rem;
}

.profilesWrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 0f;
}

.profilesBackground {
  padding: 2rem;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 50px - 2rem);
  top: calc(50px + 2rem);
  overflow-y: hidden;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
}
.profilesBackground h2 {
  margin-bottom: 2rem;
}
.profilesBackground .inputSection {
  margin-bottom: 1rem;
}
.profilesBackground .form {
  display: flex;
  flex-direction: column;
}
.profilesBackground .form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .shoppingCartItemImage {
    height: auto;
    width: calc(100vw - 4rem);
  }
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
  }
  .header .linkToCart {
    position: absolute;
    right: 20px;
    top: 15px;
  }
  .header .navButtons {
    width: 100%;
    display: flex !important;
    justify-content: space-around !important;
  }
  .homeSection {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .homeSection .innerDivWrapper {
    padding: 0;
  }
  .selectedItems {
    top: calc(90px + 2rem);
    overflow-y: auto;
  }
  .shoppingCartItemCard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .shoppingCartItemCard .shoppingCartItemTextDiv {
    padding: 1rem !important;
  }
  .shoppingCartItemCard .shoppingCartItemTextDiv .amountWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
  }
  .profilesBackground {
    top: calc(100px + 2rem);
  }
}
@media screen and (max-width: 720px) {
  .bikeChoice {
    flex-direction: column;
    align-items: center;
  }
  .bikeChoice .choice {
    width: 100% !important;
  }
}